h1 {
    /* background-color:lightgrey; */
    text-align: center;
    /* border-bottom: 5px solid rgb(186, 188, 196); */
}

h3 {
    padding-top: 15px;
}


.test {
    background-color: azure;
}

.assignment {
    background-color: white;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 100%;
    letter-spacing: 1px;
    margin-right: 100px;
    width: 90%;
    height: 100px
}

#fame {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 100%;
    left: 50%;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 12px;
}

/* #history {
    /* border: 1px solid grey;
    padding: 5px;
    margin-top: 20px; */

    /* background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 100%;
    left: 50%;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    padding-left: 12px;
    margin-bottom: 50px */
} */

#text-to-write {
    background-color: whitesmoke;
}

/* #instructions {
    display: none; */
/* } */

/* Code of the stopwatch adapted from https://dev.to/gspteck/create-a-stopwatch-in-javascript-2mak */
.stopwatchbutton {
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    font-size: 60px;
    margin-top: 30px;
}

#buttons li {
    display: inline;
    padding-left: 10px;
}

body { font-family: sans-serif; }

#id_confrmdiv
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    /* position: fixed; */
    width: 90%;
    left: 50%;
    /* margin-left: -150px; */
    padding: 4px;
    box-sizing: border-box;
    margin-top: 40px;
}

/* #id_confrmdiv button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer; */
/* } */

#id_confrmdiv .button:hover
{
    background-color: #ddd;
}

#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}