h3 {
    padding-top: 15px;
}

.body {
    background-color: azure;
    color:rgb(80, 75, 75);
    font-family: sans-serif
}

.assignment {
    background-color: white;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 100%;
    letter-spacing: 1px;
    margin-right: 100px;
    width: 90%;
    height: 100px
}

#stopwatch {
    font-size: 50px;
}

#resultBox
{
    display: none;
    border-radius: 5px;
    width: 90%;
    left: 50%;
    padding: 8px;
    box-sizing: border-box;
}