{% if session.admin %}

<!<DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport", charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>10-sormijärjestelmä</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <a href="/">To main page</a><br>
            <a href="/logout" style="color: red;">Logout</a>
            <div class="row">
                <div class="col-6">
                    <h2 style="margin-top: 40px;">Create a new exercise</h2>
                    <form action="/new_exercise" method="post">
                        <div class="form-group" >
                            <div style="width: 90%; margin-top: 10px;">
                                <label for="name">Name</label><br>
                                <input type="name" name="name" id="name" class="form-control" rows="1"></input>
                            </div>
                            <div style="width: 75px; margin-top: 10px;"> 
                                <label for="level">Level</label><br>
                                <input type="level" name="level" id="level" class="form-control" rows="1"></input>
                            </div>
                            <div style="width: 90%; margin-top: 10px;"> 
                                <label for="description">Description</label><br>
                                <textarea type="description" name="description" id="description" class="form-control" rows="3"></textarea>
                            </div>
                            <div style="width: 90%; margin-top: 10px;"> 
                                <label for="text_to_write">Text to write</label><br>
                                <textarea type="text_to_write" name="text_to_write" id="text_to_write" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <button class="btn btn-danger" onclick="window.location.reload()" >Cancel</button>
                    
                </div>
                <div class="col-6">
                    <h2 style="margin-top: 40px;">Edit exercises</h2>
                    <hr>
                        {% for exercise in exercises %}
                        <div class="row" name="item">        
                                <!-- <div name="item" > -->
                                    <div class="col-9">
                                        <div>Name: <a href="/exercises/{{ exercise[0] }}">{{ exercise[1] }}</a></div>
                                        <div>Level: <span id="level">{{ exercise[3] }}</span></div>
                                        <div>Description: {{ exercise[2] }}</div>
                                        <div>Id: {{ exercise[0] }}</a></div>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn btn-primary" style="margin-bottom: 5px" onclick="window.location.href='/edit/'+{{exercise[0]}}">Edit</button>
                                        <button type="button" class="btn btn-danger" style="margin-top: 5px" onclick="delete_exercise({{exercise[0]}})">Delete</button>
                                    </div>
                                <!-- </div> -->
                            </div>
                            <hr>
                        {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static',filename='main.js') }}"></script>

{% endif %}