<!DOCTYPE html>
{% if session.admin %}
    <html lang="en">
        <head>
            <meta name="viewport", charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <title>Ten-Finger Trainer</title>
            <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        </head>
        <body class="body">
            <div class="container">
                <div class="row" style="margin-top: 10px">
                    <div class="col-10">        
                        <span style="padding-right: 40px;"><a href="/">Main page</a></span>
                        {% if session.admin %}    
                            <a href="/admin">Admin panel</a>
                        {% endif %}
                    </div>                
                    <div class="col-2">        
                        <a href="/logout" style="color: orange;">Logout {{session.username}}</a>
                    </div>
                </div>
                <hr style="margin-top: 8px; margin-bottom: 0px;">
                <div class="row" style="background-color: white; padding-top: 10px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 40px; margin-left: -1px;margin-right: -1px;">
                    <div class="col-4">
                        <h2>Create new</h2>
                    </div>
                    <div class="col-4">
                        <h2>Edit</h2>
                    </div>
                    <div class="col-4" style="padding-left: 50px;">
                        <h2>User stats</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4" style="border-right: 1px rgb(218, 215, 215) solid;">
                        <form action="/new_exercise" method="post">
                            <div class="form-group" >
                                <div style="width: 90%; margin-top: 0px;">
                                    <label for="name">Name</label><br>
                                    <input type="name" name="name" id="name" class="form-control" rows="1"></input>
                                </div>
                                <div style="width: 75px; margin-top: 10px;"> 
                                    <label for="level">Level</label><br>
                                    <input type="level" name="level" id="level" class="form-control" rows="1"></input>
                                </div>
                                <div style="width: 90%; margin-top: 10px;"> 
                                    <label for="description">Description</label><br>
                                    <textarea type="description" name="description" id="description" class="form-control" rows="3"></textarea>
                                </div>
                                <div style="width: 90%; margin-top: 10px;"> 
                                    <label for="text_to_write">Text to write</label><br>
                                    <textarea type="text_to_write" name="text_to_write" id="text_to_write" class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Submit</button>
                        </form>
                        <button class="btn btn-warning" onclick="window.location.reload()" style="margin-top: 10px;" >Cancel</button>
                    </div>
                    <div class="col-4" style="padding-right: 35px;  padding-left: 30px; border-right: 1px rgb(218, 215, 215) solid;">
                        {% for exercise in exercises %}
                            <div class="row" name="item">        
                                <div class="col-9">
                                    <div>Name: <a href="/exercises/{{ exercise[0] }}">{{ exercise[1] }}</a></div>
                                    <div>Level: <span id="level">{{ exercise[3] }}</span></div>
                                    <div>Description: <span style="font-size: small;">{{ exercise[2] }}</span></div>
                                    <div>Id: {{ exercise[0] }}</a></div>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-primary" style="margin-bottom: 5px" onclick="window.location.href='/edit/'+{{exercise[0]}}">Edit</button>
                                    <button type="button" class="btn btn-warning" style="margin-top: 5px" onclick="delete_exercise({{exercise[0]}})">Del</button>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="col-3" style="margin-left: 30px;">
                        <table class="table table-striped" style="margin-top: 0px; font-size: small;">
                            <tr style="line-height: 75%;">
                                <th>User</th>
                                <th>Signup</th>
                                <th>Tried</th>
                                <th>Passed</th>
                            </tr>
                            {% for result in stats %}
                                <tr>
                                    <td>{{result[0]}}</td>      
                                    <td >{{result[3].strftime("%Y-%m-%d")}}</td>      
                                    <td>{{result[1]}}</td>
                                    <td>{{result[2]}}</td>  
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </body>
        <script src="{{ url_for('static',filename='main.js') }}"></script>
    </html>
{% endif %}