<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport", charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Ten-finger system</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body class="body">
    <div class="container">
        <div class="row" style="margin-top: 10px">
            <div class="col-10">        
                <span style="padding-right: 40px;"><a href="/">Main page</a></span>
            </div>                
        </div>
        <hr style="margin-top: 8px; margin-bottom: 8px;">
        <!-- <hr style="height:2px;border-width:0;background-color:gray; margin-top: 20px; margin-bottom: 10px;"> -->
        <h1 style="text-align: left; margin-top: 50px; color: red;">{{ message }}</h1>
    <div>
    

    </div>
</body>