<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport", charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>10-Finger Trainer</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <span style="display:none;" id="exerciseId">{{id}}</span>
    <span style="display:none;" id="csrf_token">{{ session.csrf_token }}</span> 
    <body class="body">
        <div class="container">
            <div class="row" style="margin-top: 10px">
                <div class="col-10">        
                    <span style="padding-right: 40px;"><a href="/">Home</a></span>
                    {% if session.admin %}    
                        <a href="/admin">Admin panel</a>
                    {% endif %}
                </div>                
                <div class="col-2">        
                    <a href="/logout" style="color: orange;">Logout {{session.username}}</a>
                </div>
            </div>
            <hr style="margin-top: 8px; margin-bottom: 8px;">
            <div class="row" style="margin-top: 10px; background-color: white; padding-top: 15px; padding-bottom: 5px; margin-left: -1px;margin-right: -1px; margin-bottom: 20px;">
                {% if approved %}
                <div class="col-1">
                    <img src= "{{ url_for('static',filename='images/trophy1.jpeg') }}" style="width: 55px; vertical-align: bottom;">
                </div>
                {% endif %}
                <div class="col-7">
                    <h1 style="text-align: left">{{name}}</h1>
                    <div style="margin-top: -10px; font-size: small; margin-bottom: 10px;">
                        {% if approved %}
                            <span style="color: green;">Exercise status: Approved</span>
                        {% else %}
                            <span style="color: orange;">Exercise status: Not approved</span>
                        {% endif %}
                    </div>
                </div>    
            </div> 
            <div class="row">
                <div class="col-7">
                    <h3>Description</h3>
                    <p style="margin-bottom: 0px;">{{description}}</p>
                    <h3 style="margin-top:20px">Instructions <a style="margin-left: 20px; font-size: medium; font-weight: normal;" onclick="toggleInstructions()" href="javascript:void(0);" id="toggleInstructionsButton">Show</a></h3>
                    <ul id="instructions" style="display: none; padding-right: 50px;" >
                        <li>Timer starts automatically when you start typing</li>
                        <li>Press tab when you are ready</li>
                        <li>Typos increase the total time</li>
                        <li>Passing the exercise requires less than 5% errors and a typing speed of more than 120 characters per minute
                        </li>
                    </ul>
                    <h3 style="margin-top: 20px">Text to write</h3>
                    <div class="assignment">
                        <p id="textToWrite">{{text_to_write}}</p>
                    </div>
                    <h3 style="margin-top:20px">Your text</h3>
                    <div>
                        <textarea id="input" class="assignment" onkeypress="startTimer()" onblur="submit()" onpaste=" return false" ></textarea>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-5">   
                            <div id="stopwatch" style="margin-bottom: 20px;">
                                00:00:00
                            </div>                            
                        </div>
                        <div class="col-6">  
                            <div id="resultBox" style="display: none; margin-left: 20px;">
                                <div style="margin-top: 5px;">
                                    Time: <span id="timeUsed"></span><br>
                                    Speed: <span id="speed"></span> char/min<br>
                                    Number of errors: <span id="errors"></span> <br>
                                    Error rate: <span id="error_rate"></span> % <br>
                                    <hr style="margin-top: 2px; margin-bottom: 4px;">
                                    <b>Result: <span id="ErrorAdjustedTime"></span></b><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-warning" style="width: 85%; " id="resetButton" onclick="resetTimer()">Reset</button></li>
                        </div>
                        <div class="col-6">
                            <button id="id_truebtn" class="btn btn-success" style=" margin-left: -30px; width: 85%; display: none;">Ok</button>
                        </div>  
                    </div>
                </div>
                <div class="col-5">
                    <div id="scoreBoard"> 
                        {% if top10 %}
                            <h3>Hall of Fame</h3>
                            <table class="table table-striped" style="margin-top: 15px; ">
                                <div >
                                    <tr style="line-height: 75%;">
                                        <th>Player</th>
                                        <th>Result</th>
                                        <th>Error<br>rate</th>
                                        <th>Speed<br><span style="font-size: xx-small; color: gray;">char/min</span></th>
                                        <th>Date</th>
                                    </tr>
                                    {% for result in top10 %}
                                    <tr style="line-height: 40%;">
                                        <td>{{result["username"]}}</td>      
                                        <td>{{result["adjusted_time"]}}</td>
                                        <td>{{result["error_rate"]}}</td>  
                                        <td>{{result["typing_speed"]}}</td>  
                                        <td>{{result["sent_at"].strftime("%Y-%m-%d")}}</td>
                                    </tr>
                                    {% endfor %}
                                </div>
                            </table>
                        {% endif %}
                        {% if personal_top10 %}
                            <h3 style="margin-top: 40px;">Personal Best</h3>
                            <table class="table table-striped" style="margin-top: 15px; ">
                                <div >
                                    <tr style="line-height: 75%;">
                                        <th>Player</th>
                                        <th>Result</th>
                                        <th>Error<br>rate</th>
                                        <th>Speed<br><span style="font-size: xx-small; color: gray;">char/min</span></th>
                                        <th>Date</th>
                                    </tr>
                                    {% for result in personal_top10 %}
                                    <tr style="line-height: 40%;">  
                                        <td>{{result["username"]}}</td>      
                                        <td>{{result["adjusted_time"]}}</td>
                                        <td>{{result["error_rate"]}}</td>  
                                        <td>{{result["typing_speed"]}}</td>  
                                        <td>{{result["sent_at"].strftime("%Y-%m-%d")}}</td>
                                    </tr>
                                    {% endfor %}
                                </div>
                            </table>
                        {% endif %}
                        {% if latest_results %}    
                            <h3 style="margin-top: 40px;">Personal Latest</h3>
                            <table class="table table-striped" id="history" style="margin-top: 15px; ">
                                <div >
                                    <tr style="line-height: 75%;">
                                        <th>Player</th>
                                        <th>Result</th>
                                        <th>Error<br>rate</th>
                                        <th>Speed<br><span style="font-size: xx-small; color: gray;">char/min</span></th>
                                        <th>Date</th>
                                    </tr>
                                    {% for result in latest_results %}
                                    <tr style="line-height: 40%;">  
                                        <td>{{result["username"]}}</td>      
                                        <td>{{result["adjusted_time"]}}</td>
                                        <td>{{result["error_rate"]}}</td>  
                                        <td>{{result["typing_speed"]}}</td>  
                                        <td>{{result["sent_at"].strftime("%Y-%m-%d")}}</td>
                                    </tr>
                                    {% endfor %}
                                </div>
                            </table>
                        {% endif %}
                    </div>
                    <div>
                        <h3 style="margin-top:20px">Comments on the exercise ({{nr_of_comments}})<a style="margin-left: 20px; font-size: medium; font-weight: normal;" onclick="toggleComments()" href="javascript:void(0);" id="toggleCommentsButton">Hide</a></h3>
                        <div id="comments" style="display: block;"">     
                            <form action="/comment" method="post" style="width: 100%; margin-top: 20px;">
                                <div class="form-group" >
                                    <input style="display:none" class="form-control" id="exercise_id" name="exercise_id" value="{{id}}"></input>
                                    <div>
                                        <textarea type="new_comment" class="form-control" id="new_comment" name="new_comment"></textarea>
                                    </div>
                                    <div class="form-text" style="font-size: x-small;">
                                        1-400 characters
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">Post comment</button>
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>      
                            {% if comments %}
                            <div style="margin-top: 30px; padding: 10px; background-color: white; border: 1px solid lightgrey;">
                                {% for comment in comments %}
                                <p style="margin-bottom: 10px;">
                                    <span style="font-size: small; font-weight: bold;">{{comment["username"]}} on {{comment["created"].strftime("%Y-%m-%d")}}:</span><br>
                                    {{comment["content"]}}
                                <p>
                                <hr>
                                {% endfor %}        
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>