<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport", charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>10-Finger Trainer</title>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body class="body">
        <span id="total_tried_helper" style="display: none;">{{total_tried}}</span>
        <span id="total_passed_helper" style="display: none;">{{total_passed}}</span>
        <div class="container">
            {% if not session.user_id %}
                <h1 style="margin-top: 50px; margin-bottom: 30px; text-align: left;">Welcome to 10-Finger Trainer</h1>
                <hr style="margin-top: 0px; margin-bottom: 50px;">
                <div class="row">
                    <div class="col-6" style="padding-right: 40px;">
                        <h4>Login</h4>
                        <form action="/login" method="post" style="width: 90%; margin-top: 40px;">
                            <div class="form-group" >
                                <div >
                                    <label for="username" >Username</label>
                                    <input type="username" class="form-control" id="username" name="username">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 40px; margin-top: 20px;">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                    </div>
                    <div class="col-6" style="text-align: left; padding-left: 40px">
                        <h4 >Create new user<a style="margin-left: 20px; font-size: medium; font-weight: normal;" onclick="toggleSignup()" href="javascript:void(0);" id="toggleSignupButton">Show</a></h4>
                        <form style="margin-top: 40px; width: 90%; display: none;" action="/signup" method="post" id="signup" >
                            <div class="form-group" >
                                <div >
                                    <label for="username" >Username</label>
                                    <input type="username" class="form-control" id="username" name="username">
                                </div>
                                <div class="form-group" style="margin-top: 20px;">
                                    <label for="password1">Password</label>
                                    <input type="password1" class="form-control" id="password1" name="password1">
                                </div>
                                <div class="form-group" style="margin-bottom: 40px; margin-top: 20px;">
                                    <label for="password2">Re-enter password</label>
                                    <input type="password2" class="form-control" id="password2" name="password2">
                                </div>
                                <button type="submit" value="Luo tunnus" class="btn btn-primary">Create user</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="row" style="margin-top: 10px">
                    <div class="col-10">        
                        <span style="padding-right: 40px;"><a href="/">Home</a></span>
                        {% if session.admin %}    
                            <a href="/admin">Admin panel</a>
                        {% endif %}
                    </div>                
                    <div class="col-2">        
                        <a href="/logout" style="color: orange;">Logout {{session.username}}</a>
                    </div>
                </div>
                <hr style="margin-top: 8px; margin-bottom: 0px;">
                <div class="row" style="background-color: white; margin-left: -1px;margin-right: -1px; margin-top: 10px; padding-top: 15px; padding-bottom: 0px;">
                    <div class="col-4">
                        <p>Filter exercises by level:</p>
                        {% for level in levels %}
                            <input type="radio" name="chosen_level" value={{level}} onclick="filter({{level}}, {{tried}}, {{passed_by_level}})"> {{level}}
                        {% endfor %}
                        <input type="radio" name="chosen_level" value="All" onclick="filter('all')"> All<br><br>
                    </div>
                    <div class="col-8">
                        Exercises passed: <span id="passed">{{total_passed}}</span><br>
                        Exercises tried: <span id="tried">{{total_tried}}</span><br>
                        Total exercises: <span id="totalExercises">{{total}}</span><br>
                    </div>
                </div>
                <h2 style="margin-top: 30px;">Exercises</h2>
                <hr>
                {% for exercise in exercises %}
                    <div name="item" >
                        {% if exercise[4] %}
                            <div style="position:relative; left: 80px">
                        {% else%}
                            <div >
                        {% endif %}
                                <div>Name: <a href="/exercises/{{ exercise[0] }}">{{ exercise[1] }}</a></div>
                                <div>Level: <span id="level">{{ exercise[3] }}</span></div>
                                <div>Description: {{ exercise[2] }}</div>
                            </div>
                        {% if exercise[4] %}
                            <div style="margin-bottom: -50px">
                                <img src= "{{ url_for('static',filename='images/trophy1.jpeg') }}" style="width: 50px; position:relative; bottom: 65px">
                            </div>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
</html>