<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>


<body class="test">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Exercise <span id="exerciseId">1</span></h1>
            </div>
            <div class="col-2">
                <!-- <button type="button" class="btn btn-link" onclick="location.href = '/'">Back to main page</button>
                <button type="button" class="btn btn-link" onclick="location.href = '/logout'" style="color: red;">Logout</button> -->
                <a href="/">To main page</a><br>
                <a href="/logout" style="color: red;">Logout</a>
            </div>
        </div>
        <i style="color: red">To do: Parameterize content of the form based on the chosen exercise..</i>
        <div class="row">
            <div class="col-8">
                <h3>Theme</h3>
                <p>Letters j and d</p>
                <h3>Instructions <button style="margin-left: 20px;" type="button" class="btn btn-info" onclick="toggleInstructions()" id="toggleInstructionsButton">Show</button></h3>
                <ul id="instructions" style="display: none;">
                    <li>Times starts automatically when you start typing</li>
                    <li>Press tab when you are ready</li>
                    <li>Typos increase the total time</li>
                    <li>Press reset to start over again</li>
                </ul>
                <h3 >Text to write</h3>
                <div class="assignment">
                    <p id="textToWrite">ffff jjjj fjfj jfjf ffjj jjff</p>
                </div>
                <h3 >Your text</h3>
                <div>
                    <textarea id="input" class="assignment" onkeypress="startTimer()" onblur="ready()" onpaste=" return false"></textarea>
                </div>
                <!-- Code of the stopwatch adapted from https://dev.to/gspteck/create-a-stopwatch-in-javascript-2mak -->
            </div>
            <div class="col-4">
                <div id="fame">
                    <h3>Hall of fame</h3>
                    <h4>1. Rami</h4>
                    -Time: 29 seconds<br>
                    -Errors: 1 -> +5% time penalty<br>
                    -Adjusted time: 31 seconds<br>

                    <h4>2. Petteri</h4>
                    -Time: 39 seconds<br>
                    -Errors: 2 -> +10% time penalty<br>
                    -Adjusted time: 44 seconds<br>
                </div>
            <div id="fame">
                <h3>Your history</h3>
                -13 Oct 2021: 45 seconds<br>
                -20 Oct 2021: 55 seconds<br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div id="stopwatch">
                00:00:00
            </div>
            <ul id="buttons">
                <li><button class="stopwatchbutton" style="margin-left: -50px;" id="resetbutton" onclick="resetTimer()">Reset</button></li>
                <!-- <li><button class="stopwatchbutton" id="pauseButton" onclick="stopTimer()">Pause</button></li> -->
            </ul>
        </div>
        <div class="col-4">
            <div id="result" style="margin-top: 35px; display: none;">
                <h3>Result</h3>
                Time used: <span id="timeUsed">xxx</span><br>
                Errors: <span id="errors">xxx</span> <br>
                Error-adjusted time: <span id="ErrorAdjustedTime">xxx</span><br>
            </div>
        </div>
    </div>

    

</body>
<script src="{{ url_for('static',filename='main.js') }}"></script>